@page "/Edit/{Id:int}"
@using WebApplication.Models
@using WebApplication.Data
@using WebApplication.Data.Impl.Adults
@using Microsoft.AspNetCore.Components
@using global::Models
@inject IAdults AdultsData
@inject NavigationManager NavMgr
<h3>Edit adult with id:@Id</h3>
@if (adultToEdit == null)
{
    <em>Todo not found!</em>
}
else
{
    <EditForm Model="@adultToEdit" OnValidSubmit="@Save">
        <DataAnnotationsValidator/> 
        <ValidationSummary/>
        <div class="form-group">
                First Name:<br/> 
                <InputTextArea rows="1" @bind-Value="adultToEdit.firstName">
                    @adultToEdit.firstName
                </InputTextArea>
            </div>
            <div class="form-group">
                Last Name:<br/> 
                <InputTextArea rows="1" @bind-Value="adultToEdit.lastName">
                     @adultToEdit.lastName
                </InputTextArea>
            </div>
            <div class="form-group">
                Hair Color:<br/> 
                <InputTextArea rows="1" @bind-Value="adultToEdit.hairColor">
                    @adultToEdit.hairColor
                 </InputTextArea>
            </div>
            <div class="form-group">
                Eye Color:<br/> 
                <InputTextArea rows="1" @bind-Value="adultToEdit.eyeColor">
                     @adultToEdit.eyeColor
                </InputTextArea>
            </div>
            <div class="form-group">
                Age:<br/> 
                <InputNumber rows="1" @bind-Value="adultToEdit.age">
                    @adultToEdit.age
                </InputNumber>
            </div>
            <div class="form-group">
                Weight:<br/> 
                <InputNumber rows="1" @bind-Value="adultToEdit.weight">
                @adultToEdit.weight
                </InputNumber>
            </div>
            <div class="form-group">
                Height:<br/> 
                <InputNumber rows="1" @bind-Value="adultToEdit.height">
                @adultToEdit.height
                </InputNumber>
            </div>
            <div class="form-group">
                Sex:<br/> 
                <InputSelect rows="1" @bind-Value="adultToEdit.sex">
                    <option>Non</option>
                    <option>F</option>
                    <option>M</option>
                </InputSelect>
                @adultToEdit.sex
            </div>
            <div class="form-group">
                Job Title:<br/> 
                <InputTextArea rows="1" @bind-Value="adultToEdit.jobTitle.jobTitle">
                    @adultToEdit.jobTitle.jobTitle
                </InputTextArea>
            </div>
            <div class="form-group">
                Job Salary:<br/> 
                <InputNumber rows="1" @bind-Value="adultToEdit.jobTitle.salary">
                @adultToEdit.jobTitle.salary
                </InputNumber>
            </div>
            <p class="actions">
                <button class="btn btn-outline-dark" type="submit">Edit</button>
            </p>
        </EditForm>
}

@code
{
    [Parameter]
    public int Id { get; set; }

    private Adult adultToEdit;

    protected override async Task OnInitializedAsync()
    {
        adultToEdit = await AdultsData.GetAsync(Id);
    }

    private void Save()
    {
        AdultsData.Update(adultToEdit);
        NavMgr.NavigateTo("/Adults");
    }
}